# Core functionality - changes here should be rare!
/src/app.py                   @Daviey
/src/backend/database.py      @Daviey
/src/backend/routers/auth.py  @Daviey

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Daviey
